	<footer>
		<div style="background-color:#DADAFF; width:40%; left:30%; position:relative;">
			<h1 class="text-center">About us</h1>
			<p class="text-left">This is just a temp layout.</p>
		</div>
	</footer>
</html>