<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/styles/style.css" rel="stylesheet" type="text/css"/>
    <script src="leader-line.min.js"></script>
    <title>CPRG 210</title>
  </head>
  <body>
    <div class="page mi-a">
      <header class="fillw col border-b-end">
        <h1 class="fillw tac mbe-0 c-red">CPRG 210</h1>
        <h2 class="fillw tac mbs-0">Web Application Development</h2>
      </header>
      <h2 class="fillw tac c-blue">Course Overview</h2>
      <div class="col">
        <span class="row content-around mbe-2">
          <h3 class="pi-1 pb-1 b-yellow c-black w1 tac">Part One</h3>
        </span>
        <span class="row content-between mbe-1">
          <h3 class="pi-1 pb-1 b-blue c-white w1 tac">HTML</h3>
          <h3 class="pi-1 pb-1 b-blue c-white w1 tac">CSS</h3>
          <h3 class="pi-1 pb-1 b-blue c-white w1 tac">JavaScript</h3>
        </span>
        <span class="row content-between mbe-1">
          <h3 class="pi-1 pb-1 b-green c-white w1 tac">Website Content &amp; Layout</h3>
          <h3 class="pi-1 pb-1 b-green c-white w1 tac">Cascading Style Sheets</h3>
          <h3 class="pi-1 pb-1 b-green c-white w1 tac">Programming Language</h3>
        </span>
        <span class="row content-between mbe-1">
          <div class="border-b-end border-b-start border-i-end border-i-start pi-1 w1">
            <div class="col">
              <h3 class="pi-1 pb-1 b-green c-white fillw tac mbe-0">Concepts</h3>
              <h3 class="pi-1 pb-1 b-green c-white fillw tac mbs-1">Features</h3>
            </div>
          </div>
          <h3 class="pi-1 pb-1 b-green c-white w1 tac">Presentation</h3>
          <h3 class="pi-1 pb-1 b-green c-white w1 tac">Processing</h3>
        </span>
      </div>
    </div>
  </body>
</html>
