<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Travel Experts </title>
  <link rel="stylesheet" href="/css/mainpage.css">

  <!--================ ADDED THIS ================-->
  <!--          link to bootstrap                 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="shortcut icon" href="/media/plane.ico" type="image/x-icon">
</head>

<body>

  <!--================ ADDED THIS ================-->
  <!--      centers the content on the page       -->
  <div class="container">


  <header>
    <nav>
      <a href="/home">Home</a> |
      <a href="/packages">Vacation Packages</a> |
      <a href="/registration">Customer Registration</a> |
      <a href="faq.html">FAQs</a> |
      <a href="/contacts">Contact Us</a>
      <label>&#8981;</label>
      <input type="search">
      <div class="phrase">
        <h1>Say <span class="yes"><em>YES</em></span> to new adventures</h1>
        <p>Embark on your dream adventure with <em>peace of mind</em>, knowing that every aspect of your journey is
          expertly
          handled</p>
      </div>
      <!-- <img src='globe.png' width="100%" height="15%" type="img" alt="airplane flying across the globe"> -->
    </nav>
  </header>


  <hr />
  <section id="about">
    <h2>About Us</h2>
    <p> We are a leading travel agency dedicated to creating extraordinary experiences for travellers like you. With our
      passion for exploration and meticulous attention to detail, we strive to make your travel dreams a reality. We
      understand that every traveler is unique, and we tailor our services to match your individual preferences, our
      team of seasoned travel experts is here to craft personalized itineraries that surpass your expectations. </p>
    <p>Travel Experts guarantees access to exclusive offers and hidden gems, ensuring you unlock the true essence of
      each
      destination you visit. From exotic beach destinations to bustling cities, from breathtaking natural wonders to
      enchanting historical sites, we have the expertise to curate
      unforgettable journeys across the globe.</p>

    <h2>Why Us?</h2>
    <p>Our commitment to exceptional customer service sets us apart. From the moment you reach out to us until the
      completion of your trip, our dedicated team will provide you with expert guidance, personalized recommendations,
      and seamless
      support. We handle all the logistics, including flights, accommodations, transportation, and activities, allowing
      you to
      relax and focus on creating lasting memories.
    </p>
    <p>Let us take care of the details while you embark on unforgettable experiences, forge meaningful
    connections, and discover the wonders of the world. Start your travel story with TravelCo today! </p>
  </section>
  <hr />
  <section id="services">
    <div class="services">
      <h2>Services we provide</h2>
      <div class="lodging">
        <img class="img1"
          src="https://images.squarespace-cdn.com/content/v1/55668388e4b0992f1a75b868/1587565940653-GWWMM868NCTDRMIEP1MJ/kicking-horse-lodging-website-header-20150622.jpg?format=1500w"
          width="300" alt="picture of hotel">
        <h3>Lodging</h3>
        <p>
          Booking lodging is an essential part of travel experince so we find best avalable deals for you to you to book
          from the comform of your home.
        </p><br />
      </div>

      <div class="flights">
        <img class="img2"
          src="https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
          width="300" alt="picture of plane in the air">
        <h3>Flights</h3>
        <p>
          Fly anytime and anywhere your heart desires with special rates offered when booking through Travel Experts Web
          or Mobile Application.
        </p><br />
      </div>

      <div class="travpack">
        <img class="img3" src="vacation.jpg" width="300" alt="picture of resort and ocean view">
        <h3>Travel Packages</h3>
        <p>
          Have a dream destination in mind? Whether you want to follow your appetite to Tuscany or go wild in World's
          greatest national parks, our guided travel packages will get you there.
        </p><br />
      </div>
      <div class="car">
        <img class="img4" src="view/car.jpg" width="300" alt="picture of resort and ocean view">
        <h3>Vehicle Rental</h3>
        <p>
          Convenince of serching and reserving available vehicles for easy pickup at airports from the desktop or
          mobile app.
        </p><br />
      </div>

      <div>

        <h3>Tours</h3>
        <p>
          Let us andle all logistics and only thing left for you is to <em><strong>Explore the world and focus on
              creating lasting memories.</strong></em>
        </p>
        <img class="img5"
          src="https://maui.hawaiidiscountactivities.com/wp-content/uploads/sites/2/2016/06/10-best-snorkel-tours-in-maui-1.jpg"
          width="300" height="270" alt="picture of resourt and ocean view"><br />
      </div>
    </div>
  </Section>
  <hr />
  <section id="reviews">
    <h1 id="reviews"><span class="reviews">Testimonials</span> 👏</h1>
    <p>“ Travel Experts exceeded all my expectations and provided me with an unforgettable travel experience. From the
      moment I reached out to them, their team of dedicated experts was there to guide me through the entire
      process🔥🔥🔥 ”<br />
      ⭐⭐⭐⭐⭐
    </p>
    <p>“ Last week travelled to London, booked all-inclusive Europe tour via Travel Experts wesite. Very pleased how
      quickly and pain free the process was.Thank you Travel Experts!!! ”<br />
      ⭐⭐⭐⭐⭐
    </p>
    <p>“ What impressed me the most was their attention to details👍. They took the time to understand my preferences
      and
      crafted a personalized itinerary that perfectly suited my desires. Every aspect of the trip, from flights to
      accommodations and activities, was meticulously planned and flawlessly executed🤩. ”<br />
      ⭐⭐⭐⭐⭐
    </p>
    <p>“ Was able to adjust my reservation to get me exactly into the room I needed 😄. Agent was thorough and
      informative.
      Excellent
      support! ”<br />
      ⭐⭐⭐⭐⭐
    </p>
    <p>“ I highly recommend Travel Experts to anyone seeking a memorable and hassle-free travel experience. Their
      passion
      for
      exploration, attention to detail, and commitment to customer satisfaction make them an exceptional travel
      agency. ”<br />
      ⭐⭐⭐⭐⭐
    </p>


  </section>


  <footer>
    <p>&copy; Travel Experts Agency 2023. All rights reserved.</p>
  </footer>

  <!--================ ADDED THIS ================-->
  <!-- (closes <div class="container"> above) -->
  </div>

</body>

</html>
