<header>
  <div class="d-flex flex-column flex-md-row align-items-center pt-2 pb-3 px-2 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none nav-link">
      <span class="fs-4">Travel Experts</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none nav-link" href="/">Home</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none nav-link" href="/registration">Register</a>
      <a class="py-2 link-body-emphasis text-decoration-none nav-link" href="/contacts">Contact</a>
    </nav>
  </div>
</header>