<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <title>Package Unavailable</title>
  </head>
  <body>
    <h1 class="display-3 fw-normal">
      <%= message %>
    </h1>
  </body>
</html>
