<%- include("header") -%>
	
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		
	<style>
		body {
				background-color: #dff8eb;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100vw;
				height: 100vh;
				color: #364156;
			}
		#div2 
			{	
				border: 2px solid #dcdcdc;
				max-width: 470px;
				max-height 800px;
				background-color: #dff8eb;
				border-radius: 10px;
			}
		@media screen and (max-width: 570px)
			{
				#div2 {
					height: 100vh;
					width: 100vw;
					border: none;
					border-radius: 0px;
					box-shadow: none;
				}
				form {
					background-color: #dff8eb;
					
				}
				body {
					background-color: #dff8eb;
				}
			}	
	</style>
	<body>
	<div id="div2" class="container px-3 py-3">
		<h1 class="text-center">Thank you for signing up with Travel Experts!</h1>
		<h6 class="text-center"><%= message %></h6>
	</div>
	</body>

<% include("footer") -%>
