html, body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #272727;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.shadow {
    filter: drop-shadow(3mm 3mm 2mm #bbb);
}

.shadow-v {
    filter: drop-shadow(0mm 3mm 2mm #bbb);
}

/* flex */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.nowrap {
    flex-flow: nowrap;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-first-baseline {
    align-items: first baseline;
}

.align-last-baseline {
    align-items: last-baseline:
}

.items-start {
    justify-items: flex-start;
}

.items-end {
    justify-items: flex-end;
}

.items-center {
    justify-items: center;
}

.content-between {
    justify-content: space-between;
}

.content-around {
    justify-content: space-around;
}

/* cards */
.card {
    box-sizing: border-box;

    display: flex;
    flex-flow: column;

    max-width: 100%;
    width: fit-content;
    margin: 0.5em;
}

.card > * {
    margin-block: 0;
    box-sizing: border-box;
    border-inline: 1mm solid #272727;
    padding-inline: 1em;
    width: 100%;
    background-color: #fafafa;
}

.card > :first-child {
    border-block-start: 1mm solid #272727;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

.card > :last-child {
    border-block-end: 1mm solid #272727;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.card-color-i {
    background-color: #272727;
    color: #fafafa;
}

.card-color-i > * {
    border-color: #fafafa;
}

.card-color-i > :first-child {
    border-color: #fafafa;
}

.card-color-i > :last-child {
    border-color: #fafafa;
}

.card-color-a > * {
    border-color: #52d;
}

.card-color-a > :first-child {
    border-color: #52d;
}

.card-color-a > :last-child {
    border-color: #52d;
}

/* margins & padding */
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.m-3 {
    margin: 3em;
}

.mi-a {
    margin-inline: auto;
}

.mb-a {
    margin-block: auto;
}

.mi-0 {
    margin-inline: 0;
}

.mi-1 {
    margin-inline: 1em;
}

.mi-2 {
    margin-inline: 2em;
}

.mi-3 {
    margin-inline: 3em;
}

.mb-0 {
    margin-block: 0;
}

.mb-1 {
    margin-block: 1em;
}

.mb-2 {
    margin-block: 2em;
}

.mb-3 {
    margin-block: 3em;
}

.mis-0 {
    margin-inline-start: 0;
}

.mis-1 {
    margin-inline-start: 1em;
}

.mis-2 {
    margin-inline-start: 2em;
}

.mis-3 {
    margin-inline-start: 3em;
}

.mbs-0 {
    margin-block-start: 0;
}

.mbs-1 {
    margin-block-start: 1em;
}

.mbs-2 {
    margin-block-start: 2em;
}

.mbs-3 {
    margin-block-start: 3em;
}

.mie-0 {
    margin-inline-end: 0;
}

.mie-1 {
    margin-inline-end: 1em;
}

.mie-2 {
    margin-inline-end: 2em;
}

.mie-3 {
    margin-inline-end: 3em;
}

.mbe-0 {
    margin-block-end: 0;
}

.mbe-1 {
    margin-block-end: 1em;
}

.mbe-2 {
    margin-block-end: 2em;
}

.mbe-3 {
    margin-block-end: 3em;
}

.pi-0 {
    padding-inline: 0;
}

.pi-1 {
    padding-inline: 1em;
}

.pi-2 {
    padding-inline: 2em;
}

.pi-3 {
    padding-inline: 3em;
}

.pb-0 {
    padding-block: 0;
}

.pb-1 {
    padding-block: 1em;
}

.pb-2 {
    padding-block: 2em;
}

.pb-3 {
    padding-block: 3em;
}

.pis-0 {
    padding-inline-start: 0;
}

.pis-1 {
    padding-inline-start: 1em;
}

.pis-2 {
    padding-inline-start: 2em;
}

.pis-3 {
    padding-inline-start: 3em;
}

.pbs-0 {
    padding-block-start: 0;
}

.pbs-1 {
    padding-block-start: 1em;
}

.pbs-2 {
    padding-block-start: 2em;
}

.pbs-3 {
    padding-block-start: 3em;
}

.pie-0 {
    padding-inline-end: 0;
}

.pie-1 {
    padding-inline-end: 1em;
}

.pie-2 {
    padding-inline-end: 2em;
}

.pie-3 {
    padding-inline-end: 3em;
}

.pbe-0 {
    padding-block-end: 0;
}

.pbe-1 {
    padding-block-end: 1em;
}

.pbe-2 {
    padding-block-end: 2em;
}

.pbe-3 {
    padding-block-end: 3em;
}

/* text alignment */
.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.taj {
    text-align: justify;
}

.va-c {
    vertical-align: middle;
}

/* sizing classes */
.fillw {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.fillv {
    box-sizing: border-box;
    height: 100%;
}

.h1 {
    height: 1.25rem;
}

.h2 {
    height: 2.5rem;
}

.h3 {
    height: 3.75rem;
}

.w1 {
    width: 10rem;
}

.w2 {
    width: 20rem;
}

.w3 {
    width: 30rem;
}

/* semantic classes */
.button {
    border-radius: 10px;
    background-color: #272727;
    color: #fafafa;
    display: inline-block;
    font-feature-settings: "c2sc", "smcp";
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
}

.accent {
    background-color: #5522dd;
    color: #fafafa;
    border-color: #5522dd;
}

.border-b-end {
    border-block-end: 1px solid;
}

.border-b-start {
    border-block-start: 1px solid;
}

.border-i-end {
    border-inline-end: 1px solid;
}

.border-i-start {
    border-inline-start: 1px solid;
}

#status-container {
    height: 85vh;
    width: 40rem;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-inline: 0.5em;
}

#status-container > .card {
    width: 100%;
}

#status-container .card * {
    background-color: #5522dd;
    color: #fafafa;
    border-color: #5522dd;
}

#status-code {
    margin-block: 0.3em 0;
    font-size: 5em;
}

#status-message {
    margin-inline: 1em;
    font-size: 1.2em;
}

#logo {
    max-height: 100%;
    margin-inline-end: 1em;
}

.package {
    max-width: 100%;
    width: 25%;
}

.package-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 8cm;
    object-fit: cover;
    background-color: #dd2255;
}

.card > .button {
    border-block-start: none;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
}

.page {
    width: 60rem;
    max-width: 100%;
    overflow: auto;
}

.c-red {
    color: #d25;
}

.c-blue {
    color: #25d;
}

.c-yellow {
    color: #fd5;
}

.c-green {
    color: #2d5;
}

.c-black {
    color: #272727;
}

.c-white {
    color: #fafafa;
}

.b-red {
    background-color: #d25;
}

.b-blue {
    background-color: #25d;
}

.b-yellow {
    background-color: #fd5;
}

.b-green {
    background-color: #2d5;
}

.b-black {
    background-color: #272727;
}

.b-white {
    background-color: #fafafa;
}
